/* custom.css
estils exclusius d'un projecte, exemple en concret 
*/

/*.wrapper,.container{border:2px solid #f00;}*/
/*.fila, .row{border:2px solid #00f;}*/
/*.columna, .col{border:2px solid #f00;}*/

/* imatges que no sobresurtin */
	section figure{text-align: center;}
	
	header figure img, section img{
		max-width:400px;
		width:100%;
/*		margin:auto;*/
	}

/* eliminar bullets en el header	*/
	header li{list-style-type: none;}

@media (max-width: 768px) {
	.dis-none{display: none;}
}

@media (min-width: 768px) {
	h1.center{
		color: #bac;
		text-align: left;
	}
}
.btn:hover{background-color: #A8E506;}

.border{border: 2px solid #ccc;}

nav.center.col{padding: 16px 0;}

.padding-0{padding: 0;}